body {
  background-color: white;
}


h1 {
  text-decoration: underline;
  padding: 20px;
  text-align: left;
  height: auto;
  font-family: 'Source Sans Pro', sans-serif;
  background: #3967B5;
  color: white;
  font-size: 50px;
}

ul.navi {
  height: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5279BF;
}

ul.normal {
  list-style-type: none;
  margin: 0;
  padding-left:50px;
  background-color: #ffffff;
  background: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  display: block;
}

li {
  float: left;
}

li a {
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1F53AB;
}

li a.bib{
    color: black;
    display: inline;
    text-align: left;
    padding-left: 0px;

}

li a.bib:hover {
  background-color: inherit;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2053AC;
  color: #ffffff;
  text-align: center;
}

h2{

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-decoration-color: black;
  text-align: left;
  padding-left: 290px;
  line-height: 5px;
}

h3{

  font-family: 'Raleway', sans-serif;
  text-decoration-color: black;
  text-align: left;
  padding-left: 240px;
}

h4{
  font-family: 'Raleway', sans-serif;
  text-decoration-color: black;
  text-align: left;
  padding-left: 50px;
  font-size: 20px;
}

p {
  padding-left: 50px;
  font-family: 'Jomolhari', serif;
  text-align:  left;
  font-size: 20px;
}

p.smaller {
  padding-left: 50px;
  font-family: 'Jomolhari', serif;
  text-align:  left;
  font-size: 15px;
}

figure figcaption {
    border: 1px dotted blue;
    text-align: center;
}
